*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", sans-serif;
    
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.flex-nav{
    background-color: #255ee9;
    padding: 0.3rem 0;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-flex{
    background-color: #628cf7;
    padding: 5em 15em 7.3em 15em;
    /* display: flex;
    justify-content: center; */
    text-align: center;

    
}

button.button{
    margin-top: 2rem;
    text-align: center;
    margin-left: 2rem;
}

.item-img{
    order: -1;
}